* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(234, 234, 234);
}

#external {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    bottom: 60px;
    top: 0;
    padding: 2%;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.user-container {
    width: 50%;
    float: right;
    height: 100%;
}

.msg-container {
    width: 50%;
    float: left;
    height: 92%;
}

form {
    background: darkslategray;
    padding: .5%;
    position: fixed;
    bottom: 2%;
    left: 2%;
    right: 2%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
    font-size: 18px;
}

form button {
    width: 9.5%;
    background: lightblue;
    border: none;
    padding: 10px;
    font-size: 18px;
}

#chat-history {
    bottom: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: grey;
    vertical-align: bottom;
}

#chat-history li {
    padding: 5px 10px;
}

#online-users {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 92%;
    background-color: grey;
}

#online-users li {
    padding: 5px 10px;
}

ul {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    overflow-y: scroll;
}
li {
    flex: 0 0 auto;
    color: white;
}